<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/public/index-front.js"></script>
  </head>
  <body>
    <h1>Hasta luego <%=nombre %></h1>
    <form method="GET" action="/iniciar-sesion">
      <input type="submit" value="Iniciar sesión">
    </form>
</html>
