<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/public/index-front.js"></script>
  </head>
  <body>
    <h1>Login de usuario</h1>

    <form method="POST" action="/products">
      <br>Ingrese su nombre:<br><input id="box-nombre" type="text" name="nombre" value=""><br><br>
      <input type="submit" value="Enviar">
    </form>
    
</body>
</html>