<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/public/index-front.js"></script>
  </head>
  <body>
    <h1>Error de registro</h1>

    <form method="GET" action="/registrar">
      <input type="submit" value="Volver">
    </form>
    
</body>
</html>