<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/public/index-front.js"></script>
  </head>
  <body>
    <h1>Registro de usuario</h1>

    <form method="POST" action="/registrar-usuario">
      <br>Ingrese su e-mail:<br><input id="username" type="text" name="username" value=""><br>
      <br>Ingrese su contraseña:<br><input id="password" type="text" name="password" value=""><br><br>
      <input type="submit" value="Registrar">
    </form><br>
    <a href="http://localhost:8080/iniciar-sesion">Iniciar Sesión</a>

</body>
</html>